{% if data_length %}
<div class="border-top pt-2 mt-2">
    <div class="summary-data-table-wrapper">
        <div class="summary-data-table-title">
            {{ table_title }}
        </div>
        <div class="bg-white border rounded-5 summary-data-table">
            <section class="w-100 p-4 justify-content-center pb-4 p-4">
                <div style="overflow: hidden;">
                    <span title="Column Count: {{ column_details.col_count }}." class="badge bg-secondary">Columns count: {{ column_details.col_count }}</span>
                    <span title="Rows Count: {{ data_length }}." class="badge bg-secondary">Rows Count: {{ data_length }}</span>
                    <span title="Memory Usage: {{ column_details.memuse }}." class="badge bg-secondary">Memory Usage: {{ column_details.memuse }}</span>
                    <span class="badge rounded-pill bg-light text-dark">Types:</span>
                    {% for idx, item in column_details.dtype_counts %}
                        <span title="Type: {{ idx }}." class="badge bg-secondary">{{ idx }}: {{ item }}</span>
                    {% endfor %}
                </div>
                <section>
                    <div class="table-responsive text-nowrap">
                        <table id="{{ tableid }}" class="display cell-border" style="width:100%">
                            <thead>
                            <tr class="{{ toggler_class }}">
                                {% for plot in plot_div %}
                                <th>
                                    {% autoescape off %}
                                        {{ plot }}
                                    {% endautoescape %}
                                </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for col in data.columns %}
                                <th class="th-sm">
                                    {{col}}
                                </th>
                                {% endfor %}
                            </tr>

                            </thead>
                            <tbody>
                            {% for index, row in data.iterrows %}
                            <tr>
                                {% for cell in row %}
                                <td>
                                    {{cell}}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            {% for row in df_details.values %}
                                <tr>
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </section>
            </section>
        </div>
    </div>
</div>
{% endif %}