<table id="SummaryDataTable" class="display" style="width:100%">

    <thead>
    <tr>
        {% for col in data.columns %}
        <th class="th-sm">
            {{col}}
        </th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for index, row in data.iterrows %}
    <tr>
        {% for cell in row %}
        <td>
            {{cell}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

</table>

<script>
$(document).ready(function () {
  $('#SummaryDataTable').DataTable();
  $('.dataTables_length').addClass('bs-select');
});


</script>