<nav class="navbar navbar-expand-lg navbar-light sidebar-sub-navbar">
    <div class="container-fluid" style="padding-left: 0;">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="#"  style="margin-left: 30px;">
              <div class="logo-image">
                    <img class="rounded-circle nav-item" src="{{ user.profile.image.url }}" style="width: 23px; height: 23px;">
              </div>
        </a>
        {% endif %}
    </div>
</nav>